name: Lint

on:
  push:
    branches:
      - ci/*
      - main
  pull_request:

env:
  CI: 1

jobs:
  format:
    name: Lint format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v13

      - uses: DeterminateSystems/magic-nix-cache-action@v7

      - name: Install nixpkgs-fmt
        run: nix profile install 'nixpkgs#nixpkgs-fmt'

      - name: Run shfmt, shellcheck, checkbashisms
        uses: luizm/action-sh-checker@v0.8.0
        env:
          SHFMT_OPTS: "--simplify --case-indent --indent 4"
        with:
          sh_checker_comment: true
          sh_checker_checkbashisms_enable: true

      - name: Run nixpkgs-fmt
        run: |
          nixpkgs-fmt --check .

      - name: Run prettier
        uses: creyD/prettier_action@v4.3
        with:
          dry: true
          prettier_options: --check **/*.{js,ts,md,json,yaml}

  commit:
    name: Lint commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run commitlint
        uses: wagoid/commitlint-github-action@v6.0.1
