name: Lint

on:
  push:
    branches:
      - ci/*
      - main
  pull_request:

env:
  CI: 1

jobs:
  format:
    name: Lint format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Install treefmt
        run: nix profile install 'nixpkgs#treefmt'

      - name: Install nixfmt
        run: nix profile install 'nixpkgs#nixfmt-rfc-style'

      - name: Install taplo
        run: nix profile install 'nixpkgs#taplo'

      - name: Install prettier
        run: nix profile install 'nixpkgs#nodePackages.prettier'

      - name: Run shfmt, shellcheck, checkbashisms
        uses: luizm/action-sh-checker@v0.10.0
        env:
          SHFMT_OPTS: "--simplify --case-indent --indent 4"
        with:
          sh_checker_comment: true
          sh_checker_checkbashisms_enable: true

      - name: Run nixfmt-rfc-style
        run: |
          treefmt \
            --fail-on-change \
            --no-cache \
            --allow-missing-formatter \
            --formatters nix \
            --formatters shell \
            --formatters toml \
            --formatters prettier

      - name: Run prettier
        uses: creyD/prettier_action@v4.6
        with:
          dry: true
          prettier_options: --check **/*.{js,ts,md,json,yaml}

  commit:
    name: Lint commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Run commitlint
        uses: wagoid/commitlint-github-action@v6.2.1
