name: "Nix Packages"

on:
  push:
    branches:
      - main
      - ci/*
  pull_request:
    paths:
      - default.nix
      - flake.lock
      - flake.nix
      - shell.nix
      - "pkgs/**"
      - "program-configs/**"

jobs:
  build-application-packages:
    name: Build Application Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v20

      - uses: cachix/cachix-action@v16
        with:
          name: "${{ secrets.CACHIX_NAME }}"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build Nix Packages
        run: |
          ./dev-support/bin/build-application-derivations

  build-data-packages:
    name: Build Data Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v20

      - uses: cachix/cachix-action@v16
        with:
          name: "${{ secrets.CACHIX_NAME }}"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build Nix Packages
        run: |
          ./dev-support/bin/build-data-derivations
